aiohttp==1.0.1
aiohttp-jinja2==0.8.0
async-timeout==1.0.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.6
gunicorn==19.6.0
idna==2.6
instapush==0.1.2
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
multidict==2.1.0
pbr==3.1.1
python-dotenv==0.6.0
requests==2.18.4
six==1.10.0
stevedore==1.25.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
